.Backgroundimage {
  background-image: "url('https://mdbootstrap.com/img/new/textures/full/171.jpg')";
  height: "300px";
}
.SocialMedia {
  font-size: 30px;
  margin-top: 1rem;
  justify-items: center;
}
.SocialMedia a {
  background-color: cornflowerblue;
  font-family: emoji;
  /* padding: 5px; */
  padding-bottom: 7px;
  padding-right: 7px;
  border-radius: 10px;
  padding-left: 7px;
  transition: 0.5s ease-in-out;
}
.SocialMedia a:hover {
  background-color: rgb(50, 20, 158);
}
.SignInBtn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  height: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: rgb(113 105 227);
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 21px;
  transition: 0.5s ease-in-out;
}
.SignInBtn:hover {
  background-color: rgb(53, 53, 131);
}
.SignInBtnMainDiv {
  text-align: center;
  padding-top: 2.2rem;
}
.spanRegister {
  font-weight: bold;
}
.formStyle {
  margin-top: 100px;
  backdrop-filter: blur(30px);
  width: 50%;
  float: right;
  margin: 25px;
}
.SignUpSocialMedia {
  width: 400px;
  font-size: 30px;
}
.SignUpSocialMedia a {
  background-color: cornflowerblue;
  font-family: emoji;
  /* padding: 5px; */
  padding-bottom: 7px;
  padding-right: 7px;
  border-radius: 10px;
  padding-left: 7px;
  transition: 0.5s ease-in-out;
}
.SignUpSocialMedia a:hover {
  background-color: rgb(50, 20, 158);
}
.SignUpInput {
  width: 23.5rem;
  margin-bottom: 1.3rem;
  height: 2.6rem;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
  font-size: 1.1rem;
  padding-left: 5px;
}
.SignUpInput:focus {
  outline: none;
}
.SignUpInput_F_L_name {
  width: 11rem;
  margin-bottom: 1.3rem;
  height: 2.6rem;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
  font-size: 1.1rem;
  padding-left: 5px;
}
.SignUpInput_F_L_name:focus {
  outline: none;
}
.mainDiv {
  text-align: center;
}
.SignInInputs {
  width: 26.5rem;
  height: 3rem;
  /* border: none; */
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
  font-size: 1.2rem;
  padding-left: 5px;
}
.SignInInputs:focus {
  outline: none;
}
