.Backgroundimage {
  background-image: "url('https://mdbootstrap.com/img/new/textures/full/171.jpg')";
  height: "300px";
}
.SocialMedia {
  font-size: 30px;
  margin-left: 71%;
}
.formStyle {
  margin-top: 100px;
  backdrop-filter: blur(30px);
  width: 50%;
  float: right;
  margin: 25px;
}
.SignUpSocialMedia {
  width: 400px;
  font-size: 30px;
}
.img {
}
.mainDiv {
  text-align: center;
}
